 body {
    background: url(https://images.wallpaperscraft.ru/image/belyy_fon_vmyatiny_nerovnosti_tekstura_69592_2048x1152.jpg), 
   }

/* Банеры */ 

.banner1 {
    position: absolute; /* Абсолютное позиционирование */
    bottom: 55px; /* Положение от нижнего края */
    right: 5px; /* Положение от правого края */
    line-height: 1px;
    position: fixed; /* Фиксированное положение */
    }
     .banner2 {
    position: absolute; /* Абсолютное позиционирование */
    bottom: 20px; /* Положение от нижнего края */
    right: 5px; /* Положение от правого края */
    line-height: 1px;
    position: fixed; /* Фиксированное положение */
    }
     
     .banner3 {
    position: absolute; /* Абсолютное позиционирование */
    bottom: 90px; /* Положение от нижнего края */
    right: 5px; /* Положение от правого края */
    line-height: 1px;
    position: fixed; /* Фиксированное положение */
    }

    .banner4 {
    position: absolute; /* Абсолютное позиционирование */
    bottom: 20px; /* Положение от нижнего края */
    right: 95px; /* Положение от правого края */
    line-height: 1px;
    position: fixed; /* Фиксированное положение */
    }
